@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 1em auto;
}

.grid {
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2 {
  background-color: antiquewhite;
}

.movie-runtime,
.movie-date,
.movie-vote {
  padding-right: 1rem;
}

.loading-movie {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.loading-movie-detail {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.no-result {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 24px;
}

.search-input {
  display: flex;
  justify-content: center;
}